input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.calculadora {
    margin: 20px 10px;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.calculadora input,
.calculadora button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 8px;
}

.info-imc {
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 20px;
}

table {
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 12px 10px;
    white-space: nowrap;
}

#resultado {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.calculadora button:hover {
    background-color: #8b8c89;
}

body {
    overflow-x: hidden;
}

@media (max-width: 400px) {
    .calculadora {
        padding: 15px 10px;
    }
    .calculadora input,
    .calculadora button {
        font-size: 16px;
        padding: 12px;
    }
    .info-imc {
        font-size: 0.9em;
    }
}
